* {
  position: relative;
  box-sizing: inherit;
  max-width: 100%;
}

:root {
  width: 100vw-100px;
}

body {
  all: unset;
  height: 100%;
  width: 100%;
  font: 100% Helvetica, sans-serif;
  color: #616161;
}

.container {
  width: 80%;
  margin: auto;
  padding: 0.5em 1em;
}

.titlebar {
  margin: 0;
  margin-bottom: 5vw;
}
.titlebar h1 {
  margin: 30px;
  margin-left: 30px;
  color: white;
}

.titlebar__background {
  margin: 0;
  position: absolute;
  height: 140px;
  left: 0;
  right: 0;
  top: -100px;
  bottom: 0px;
  z-index: -3;
}

.titlebar__background--raspberry {
  background-color: #3ccd96;
  transform: skewY(-4deg);
}

.titlebar__background--silver {
  background-color: #f0f0f0;
  height: 150px;
  transform: skewY(-4deg);
}

.section-bar {
  position: sticky;
  top: 0;
  padding: 0;
  z-index: 5;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  background-color: #3ccd96;
}

.section-bar__header {
  height: 200%;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 250ms;
}

.section-bar__header:hover {
  background-color: #5dd5a7;
}

.section-bar__header--active:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  position: absolute;
  left: calc(50% - 20px);
}

.projects {
  display: none;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.projects__card {
  align-self: flex-start;
  flex-basis: 400px;
  max-width: 400px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #616161;
  transition: box-shadow 250ms;
}
.projects__card h2 {
  margin-bottom: 5px;
}
.projects__card div {
  padding-top: 15px;
  padding-left: 20px;
  border-left: 2px solid #3ccd96;
}

.projects__card:hover {
  box-shadow: 0px 4px 8px #616161;
}

.projects__card--featured {
  order: -1;
  border: 2px solid #c72c68;
  background-image: url("./resources/featured.png");
  background-repeat: no-repeat;
}

.graphics {
  display: none;
  flex-flow: row wrap;
  justify-content: center;
}

.graphics__image {
  height: 300px;
  overflow: hidden;
  margin: 20px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #616161;
  background-color: #f0f0f0;
  transition: background-color 500ms;
}
.graphics__image img {
  transition: filter 500ms;
}

.graphics__info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: transparent;
  transition: color 500ms;
}

.graphics__image:hover {
  background-color: #616161;
}
.graphics__image:hover img {
  filter: blur(5px) brightness(50%);
}
.graphics__image:hover .graphics__info {
  color: white;
}

.widgets {
  display: none;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.widgets__leaderboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 480px;
  flex-basis: 250px;
  overflow: hidden;
  margin: 20px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #616161;
}
.widgets__leaderboard #scores {
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid #f0f0f0;
}
.widgets__leaderboard #scores div:first-of-type {
  border-top: unset;
  font-weight: bold;
}
.widgets__leaderboard #scores div {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #f0f0f0;
  cursor: pointer;
}
.widgets__leaderboard #scores div * {
  pointer-events: none;
}
.widgets__leaderboard #scores div:hover {
  background-color: #f0f0f0;
}
.widgets__leaderboard #scores .selected:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid #3ccd96;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -15px;
}
.widgets__leaderboard #scores .score {
  float: right;
}

a {
  all: unset;
}

button {
  border-radius: 5px;
  background-color: #f0f0f0;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 10px;
  }

  .section-bar__header {
    margin-left: 20px;
    margin-right: 20px;
  }

  .titlebar h1 {
    margin-left: 20px;
  }

  .projects {
    justify-content: center;
  }
}

/*# sourceMappingURL=jdshap.global.css.map */
