$font-stack: Helvetica, sans-serif;
$silver: #f0f0f0;
$steel: #616161;
$raspberry: #c72c68;
$raspberry-light: #d53f78;
$seafoam: #3ccd96;
$seafoam-light: #5dd5a7;

* {
	position: relative;
	box-sizing: inherit;
	max-width: 100%;
}

:root {
	width: 100vw - #{100px};
}

body {
	all: unset;
	height:100%;
	width: 100%;
	font: 100% $font-stack;
	color: $steel;
}

.container {
	width: 80%;
	margin: auto;
	padding: .5em 1em;
}

.titlebar {
	margin: 0;
	margin-bottom: 5vw;
	h1 {
		margin: 30px;
		margin-left: 30px;
		color: white;
	}
}

.titlebar__background {
	margin: 0;
	position: absolute;
	height: 140px;
    left:0;right:0;top:-100px;bottom:0px;
	z-index:-3;
}

.titlebar__background--raspberry {
	background-color: $seafoam;
	transform: skewY(-4deg);
}

.titlebar__background--silver {
	background-color: $silver;
	height: 150px;
	transform:  skewY(-4deg);
}

.section-bar {
	position: sticky;
	top: 0;
	padding: 0;
	z-index:5;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
	background-color: $seafoam;
}

.section-bar__header {
	height: 200%;
	margin: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	cursor: pointer;
	transition: background-color 250ms;
}

.section-bar__header:hover {
	background-color: $seafoam-light;
}

.section-bar__header--active:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid white;
	position: absolute;
	left: calc(50% - 20px);
}

.projects {
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.projects__card {
	align-self: flex-start;
	flex-basis: 400px;
	max-width: 400px;
	margin: 20px;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px $steel;
	transition: box-shadow 250ms;
	h2 {
		margin-bottom: 5px;
	}
	div {
		padding-top: 15px;
		padding-left: 20px;
		border-left: 2px solid $seafoam;
	}
}

.projects__card:hover {
	box-shadow: 0px 4px 8px $steel;
}

.projects__card--featured {
	order: -1;
	border: 2px solid $raspberry;
	background-image: url("./resources/featured.png");
	background-repeat: no-repeat;
}

.graphics {
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
}

.graphics__image {
	height: 300px;
	overflow: hidden;
	margin: 20px;
	padding: 0px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px $steel;
	background-color: $silver;
	transition: background-color 500ms;
	img {
		transition: filter 500ms;
	}
}

.graphics__info {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: transparent;
	transition: color 500ms;
}

.graphics__image:hover {
	background-color: $steel;
	img {
		filter: blur(5px) brightness(50%);
	}
	.graphics__info {
		color: white;
	}
}

a {
	all: unset;
}

@media screen and (max-width: 800px) {
	body {
		font-size: 10px;
	}
	
	.section-bar__header {
	margin-left: 20px;
	margin-right: 20px;
	}
	
	.titlebar {
		h1 {
			margin-left: 20px;
		}
	}
	
	.projects {
		justify-content: center;
	}
}